pika>=1.0.0
https://github.com/gordonwatts/ruciopylib/releases/download/1.0.0-alpha.5/ruciopylib-1.0.0a5-py3-none-any.whl
https://github.com/gordonwatts/functional_adl/releases/download/1.0.0-alpha.3/functional_adl-1.0.0a3-py3-none-any.whl
retry>=0.9.2
